os: linux
dist: bionic
language: python
python:
  - '3.9.0'

env:
  global:
    - PIPENV_VERBOSITY=-1

branches:
  only:
    - main

before_install:
  - pip install pipenv

install:
  - pipenv install --dev

script:
  - pipenv run black . --check
  - pipenv run mypy .
  - pipenv run pytest
